@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styling */

header {
    background-color: #264653;
    height: 100%;
}

ul li {
    margin: auto;
    font-weight: bold;
    padding: 5px 10px;
}

a {
    color: white !important;
}

.button-custom {
    padding: 10px 24px;
    background: #E76F51;
    border-radius: 5px;
    color: white;

}

.button-border {
    padding: 10px 24px;
    color: #E76F51;
    border-radius: 5px;
    border: 1px solid #E76F51;
}

/* Fetured Bikes 2021 */

.gray-scale img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.bikes-img {
    width: 288px;
    height: 243px;
}

/* Card Image  */

/* .card-img-top {
    display: block;
    margin: auto;
    width: 337px;
    height: 256px;
} */

.card-middle {
    padding: 20px;
}

/* client section  */

.client-img {
    height: 256px;
    width: 256px;
    display: block;
    margin: auto;
}



.rating i {
    color: #a2a2a2;
}

.rating .filled {
    color: #E77C40;
}

.name-text {
    color: #23A6F0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    margin-bottom: 0;

}


.section-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #0D0925;
}

.question-img {
    width: 431.2px;
    height: 423.5px;
    display: block;
    margin: auto;
}